<ion-header>
    <ion-toolbar>
        <ion-title>
            Signature
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title">Veuillez aposer votre signature</div>
    <ion-row [ngClass]="{'drawing-active': isDrawing}">
        <ion-col></ion-col>
        <ion-col>
            <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                           (onEndEvent)="drawComplete()"></signature-pad>
        </ion-col>
        <ion-col></ion-col>

    </ion-row>
    <ion-row center>
        <ion-col text-center>
            <ion-button color="danger" (click)="clearPad()">Effacer</ion-button>
            <ion-button color="secondary" (click)="savePad()">Sauvegarder</ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col></ion-col>
        <ion-col width-80>
            <img [src]="signature"/>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <ion-row>
        <!-- List of Text Items -->
        <ion-list>
            <ion-item *ngFor="let signature of signatures">
                <ion-thumbnail slot="start">
                    <img [src]="signature.signature"/>
                </ion-thumbnail>
                <ion-label>
                    <h3> {{signature.date | date:'mediumDate'}}</h3>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-row>
</ion-content>
