<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="geolocation">
            <ion-icon name="locate"></ion-icon>
            <ion-label>Me géolocaliser</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="flash-code-barre">
            <ion-icon name="barcode"></ion-icon>
            <ion-label>Code Barre</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="signature">
            <ion-icon name="send"></ion-icon>
            <ion-label>Signature</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="offline-mode">
            <ion-icon name="power"></ion-icon>
            <ion-label>Mode OffLine</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
