<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-button color="primary" (click)="openBarCodeScanner()">Scanner code bar</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- List of Text Items -->
    <ion-list>
        <ion-item *ngFor="let codeBar of codesBars">
            <ion-label>
                <h2>Numéro code barre: {{codeBar.numCb}}</h2>
                <h3> Scanné {{codeBar.dateScan | date:'mediumDate'}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>